runners:
  local_runner:
    load: galaxy.jobs.runners.local:LocalJobRunner
    workers: 4
  slurm:
    load: galaxy.jobs.runners.slurm:SlurmJobRunner

execution:
  default: vgl_32c
  environments:
    local_dest:
      runner: local_runner
    vgl_32c:
      runner: slurm
      singularity_enabled: false
      native_specification: --partition=vgl --nodes=1 --cpus-per-task=32
      env:
      - name: LC_ALL
        value: C
    vgl_1c:
      runner: slurm
      singularity_enabled: false
      native_specification: --partition=vgl --nodes=1 --cpus-per-task=1
      env:
      - name: LC_ALL
        value: C
    bigmem_64c:
      runner: slurm
      singularity_enabled: false
      native_specification: --partition=vgl_bigmem --nodes=1
      env:
      - name: LC_ALL
        value: C
    dynamic_partition_cores:
      runner: dynamic
      function: dynamic_partition_cores
    vgl:
      runner: slurm
      singularity_enabled: false
      native_specification: --partition=vgl
      env:
      - name: LC_ALL
        value: C
    bigmem:
      runner: slurm
      singularity_enabled: false
      native_specification: --partition=vgl_bigmem
      env:
      - name: LC_ALL
        value: C

resources:
  default: default
  groups:
    default: []
    dynamic_partition_cores: [partition,core]

tools:
- class: local # these special tools that aren't parameterized for remote execution - expression tools, upload, etc
  execution: local_dest
- id: hifiasm
  execution: dynamic_partition_cores
  resources: dynamic_partition_cores
