<parameters>
  <param label="Partition" name="partition" type="select" help="Partition to send job to. Either vgl or vgl_bigmem. Leave blank to use default (vgl).">
    <option value="1">vgl (default)</option>
    <option value="2">bigmem</option>
  </param>
 <param label="Cores" name="cores" type="integer" min="1" max="64" value="" help="Number of processing cores, 'ppn' value (1-64). Leave blank to use default value." />
</parameters>