<html>
    <head>
        <title>VGaLaxy</title>
        <link rel="icon" type="image/x-icon" href="https://github.com/abueg/galaxy_ans_22.05/raw/master/files/assets/favicon.ico">
    </head>
    <body>
	<center>
		<font face="Verdana">
        		<h1>Welcome to the <a href="https://www.vertebrategenomelab.org/" target="_blank" rel="noopener noreferrer">VGL Galaxy instance!</a><br>🐆🦒🐷🦏🦄🐯</center><ce/h1>
        <br>
        <h3><center>Assembly workflows can be found at <a href="https://github.com/abueg/galaxy_ans_22.05/tree/master/VGL_workflows" target="_blank" rel="noopener noreferrer">this folder on github.</a></center></h3>
        <br>
	</font>
        <center><img src="https://raw.githubusercontent.com/abueg/galaxy_ans_22.05/master/files/assets/poppy.png" alt="poppy"></center>
		</font>
	</center>
        <iframe src="https://galaxyproject.org/#" width="100%" height="500px" />
    </body>
</html>
